@import '~/assets/css/text-animation.scss';

.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.portfolio-image-wrapper {
  height: 10rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .img {
    align-self: center;
    max-width: 70%;
    height: auto;
    transition: max-width .2s ease-out .2s, height .2s ease-out .2s;
  }
}

.portfolio-label {
  text-decoration: none;
}

.portfolio-card {
  &:hover {
    .portfolio-image-wrapper > .img {
      max-width: 75%;
    }
    .portfolio-label {
      text-decoration: underline;
    }
  }
}

.splash-img {
  @media (min-width: 640px) {
    border-radius: 2rem;
    max-height: 80vh;
  }
}

.article {
  max-width: 60rem;
  text-align: left;
}
