// The thingy thing to loop highlight a word at a time with some colours

$text-animation-colors:(
  ( 'name': '1', 'value': #6366F1, 'delay': 0s, )
  ( 'name': '2', 'value': #EF4444, 'delay': 2s, )
  ( 'name': '3', 'value': #FBBF24, 'delay': 4s,  )
  ( 'name': '4', 'value': #10B981, 'delay': 6s,  )
);

@mixin colorChange($colorName, $color) {
  @keyframes color-change-#{$colorName} {
    25% { color: #000; }
    50% { color: $color; }
    75% { color: #000; }
  }
}

@each $color in $text-animation-colors {
  @include colorChange(map-get($color, 'name'), map-get($color, 'value'))
  .color-loop-#{map-get($color, 'name')} {
    animation: color-change-#{map-get($color, 'name')} 8s infinite;
    animation-delay: map-get($color, 'delay');
  }
}
